@use "../../global/base" as *;
@use "../../global/mixins" as *;

// Alert/Notification
.alert {
  padding: 1.6rem;
  border-radius: 6px;
  border: 1px solid $border-color;
  background-color: $subtle-color;
  @include MarginBottom2rem;

  &__title {
    font-weight: 600;
    @include MarginBottom1rem;
  }

  &__message {
    margin: 0;
  }

  &--success {
    border-color: rgba($success-color, 0.3);
    background-color: rgba($success-color, 0.1);
    color: $success-color;
  }

  &--error {
    border-color: rgba($error-color, 0.3);
    background-color: rgba($error-color, 0.1);
    color: $error-color;
  }

  &--warning {
    border-color: rgba($warning-color, 0.3);
    background-color: rgba($warning-color, 0.1);
    color: $warning-color;
  }

  &--info {
    border-color: rgba($info-color, 0.3);
    background-color: rgba($info-color, 0.1);
    color: $info-color;
  }
}
