@use "../global/base" as *;
@use "../global/mixins" as *;

// Navigation
.nav-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .btn{
    @include Padding0_5rem;
  }
}

.nav-brand {
  @include RowJustifyStartFlexbox;
  align-items: center;
  gap: 1rem;
  .user-type {
    margin-bottom: 0;
    border-radius : 8px;
    @include Padding0_5rem;   
  }
  h3 {
    color: $text-color;
  }
}

.nav-links {
  @include RowJustifyCenterFlexbox;
  gap: 0.5rem;
}

.nav-link {
  background-color: $background-color;
  color: $text-color;
  border-radius: 0;
  border: none;
  transition: all 0.2s ease-in-out;
  border: none;
  &:hover {
    border-bottom: 2px solid $primary-color;
    background-color: $background-color;
    color: $text-color;
    box-shadow: none;
  }
  &:focus, &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.nav-link-icon { display: none; }

.nav-user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav-logo-text { display: block; }
.nav-logo-svg { display: none; }
.nav-link-label { display: block; }

@include extrasmall {
  .nav-logo-text { display: none; }
  .nav-logo-svg { display: block; }
  .nav-brand .user-type { display: none; }
  .nav-container {
    gap: 1.6rem;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-user {
    flex-direction: column;
    gap: 0.8rem;
  }

  .nav-link-label { display: none; }
  .nav-link-icon { display: block; }
}
