@use "../global/base" as *;
@use "../global/mixins" as *;

// Navigation
.nav-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-brand {
  @include RowJustifyStartFlexbox;
  align-items: center;
  gap: 1rem;
  .user-type {
    margin-bottom: 0;
    border-radius : 8px;
    @include Padding0_5rem;   
  }
  h3 {
    color: $text-color;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-link-icon { display: none; }

.nav-user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav-logo-text { display: block; }
.nav-logo-svg { display: none; }
.nav-link-label { display: block; }

@include smartphone {
  .nav-logo-text { display: none; }
  .nav-logo-svg { display: block; }
  .nav-brand .user-type { display: none; }
  .nav-container {
    gap: 1.6rem;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-user {
    flex-direction: column;
    gap: 0.8rem;
  }

  .nav-link-label { display: none; }
  .nav-link-icon { display: block; }
}
